#product-show .card-product .button-buy-mobile {
  display: none;
}

#product-show .container {
  padding-top: 10px;
}

#product-show .container {
  text-align: center;
}

#product-show .content {
  width: 100%;
  gap: 10px;
  justify-content: center;
}

.card-product .text {
  text-align: start;
  
}

@media (max-width: 480px) {
  #product-show .content {
    width: 100%;
    gap: 0;
    justify-content: space-evenly;
  }

  .card-product .text {
    text-align: center;
    
  }

  #product-show .content {
    gap: 0;
    padding: 0;
    margin: 0;
  }
  #product-show .card-product .button-buy {
    display: none;
  }
  #product-show .card-product .button-buy-mobile {
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
  }
  #product-show .card-product .button-buy-mobile a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
  }

  #product-show .card-product .container-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    bottom: 0;
  }

  #product-show .card-product .container-info .price {
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #product-show .card-product .container-info .price h4 {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  #product-show .card-product {
    position: relative;
    height: 200px;
    width: 45vw;
    overflow: hidden;
    border-radius: 20px;
  }
}
