@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* 

TODO:
FIXME:

*/

html {
  scroll-behavior: auto;
}

* {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

/* ************************************************** */
.container {
  padding-top: 70px;
  padding-bottom: 20px;
}
/* =================================================== */

/* typografi */
h1 {
  font-size: 60px;
  font-weight: bold;
}
h2 {
  font-size: 37px;
  font-weight: bold;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 8px;
}
p {
  font-size: 12px;
}
/* ================= */

/* navbar */
#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.5s ease;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: transparent;
  position: relative;
  padding: 5px;
}

.navbar .logo {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  z-index: 99;
}

.navbar .logo img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.navbar .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 100;
}

.nav-list .active {
  font-weight: bold;
  color: #d39d55;
}

.nav-list a {
  color: white;
  text-decoration: none;
  width: max-content;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
  font-size: 15px;
}

.navbar .bar {
  display: none;
}

.nav-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; /* Border thickness */
  background: #d39d55; /* Border color */
  transition: all 0.3s ease;
}

.nav-list a:hover::after {
  width: 100%;
}

#navbar.scrolled {
  background: black; /* Ubah sesuai keinginan */
  box-shadow: 0 5px 10px #1a1a1d23;
}

/* end navbar */

/* button white*/
.button-w a {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  border-radius: 20px;
  transition: all 0.2s ease;
  font-size: 13px;
}

.button-w span {
  padding-left: 10px;
}

.button-w a:hover {
  background-color: black;
  color: white;
}

.button-b a {
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  transition: all 0.2s ease;
  font-size: 13px;
}

.button-b a:hover {
  color: rgb(209, 209, 209);
}

.button-bw a {
  background-color: transparent;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  padding: 10px 15px;
  border-radius: 20px;
  transition: a3l 0.2s ease;
  font-size: 13px;
}

.button-bw a:hover {
  background-color: black;
  color: white;
}
/* ========================== */
/* button-category */
.container-category-button {
  gap: 20px;
}

.button-cat a {
  text-decoration: none;
  color: gray;
  border-radius: 20px;
  padding: 5px 15px;
  background-color: #1a1a1d23;
}
.button-cat.active a {
  background-color: black;
  color: white;
}

.button-cat a:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}
/* ---------------------- */

#header-hero {
  height: 200px;
  background-image: url("../assets/img/bg-hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#header-hero {
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

#hero {
  height: 100vh;
  background-image: url("../assets/img/bg-hero.webp");
  color: white;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hero .container {
  padding-top: 0;
  position: relative;
  height: 100%;
}

#hero .title-hero-wrapper h4 {
  background-color: #d9d9d939;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
}
#hero .title-hero-wrapper {
  margin: 10px 60px;
  width: fit-content;
  height: 100%;
  gap: 20px;
  justify-content: end;
}

#hero .title-hero-wrapper h2 {
  line-height: 10px;
  padding-top: 15px;
}

#hero .content-wrapper {
  margin: 10px 60px;
}

#hero .content-wrapper .content:nth-child(1) {
  align-items: end;
  flex-wrap: wrap;
}

#hero .text {
  width: 400px;
}

#hero .text span {
  flex-shrink: 0;
}
#hero .text P {
  gap: 10px;
}
#hero .text p span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #d9d9d944;
  border-radius: 50%;
}

#hero .text p span i {
  font-size: 18px;
}

#hero .content-wrapper .content:nth-child(2) {
  justify-content: center;
  align-items: end;
  gap: 10px;
  flex-grow: 1;
}

#hero .content-wrapper .content:nth-child(2) a {
  color: white;
  font-size: 25px;
  text-decoration: none;
  background-color: #d9d9d944;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

#hero .content-wrapper .content:nth-child(2) a:hover {
  scale: 1.1;
}

/* end hero */
#showcase {
  position: relative;
}

#showcase .container {
  height: 100%;
  position: relative;
  gap: 20px;
  padding: 70px 20px 20px 20px;
}

#showcase .title-wrapper {
  width: 100%;
}

#showcase .title-wrapper .text {
  width: 70%;
  gap: 20px;
}
#showcase .button-wrapper {
  gap: 25px;
  flex-wrap: wrap;
}

#showcase .content .img-container.main {
  width: 820px;
  height: 230px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
#showcase .content {
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#showcase .content .img-container.main img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#showcase .content .img-container.main .text-wrapper {
  position: absolute;
  z-index: 5;
  color: white;
  bottom: 10px;
  left: 10px;
}

#showcase .content .img-container {
  width: 400px;
  height: 230px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

#showcase .content .img-container img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#showcase .content .img-container .text-wrapper {
  position: absolute;
  z-index: 5;
  color: white;
  bottom: 10px;
  left: 10px;
}
#showcase .people-wrapper {
  position: relative;
  height: 40px;
}
#showcase .content .img-wrapper {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
}
#showcase .content .img-wrapper:nth-child(2) {
  left: 20px;
}
#showcase .content .img-wrapper:nth-child(3) {
  left: 40px;
}

/* showcase mobile */

#showcase-mobile {
  display: none;
}

/* end show */

/* produc show */
#product-show {
  position: relative;
}
#product-show h2 {
  margin: 0 100px;
  text-align: center;
}
#product-show .content {
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

#product-show .container {
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#product-show .card-product .text {
  line-height: 1.2;
  flex-shrink: 0;
  max-width: 130px;
}

#product-show .card-product {
  position: relative;
  height: 320px;
  width: 290px;
  overflow: hidden;
  border-radius: 20px;
}

#product-show .card-product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#product-show .card-product .container-info {
  color: white;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #232323aa;
  position: absolute;
  z-index: 3;
  width: 80%;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 10px;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.card-product h5 {
  color: rgb(161, 161, 161);
}

.card-product .button-buy a {
  text-decoration: none;
  color: white;
}

.container-category-button {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* end product show */

/* the color */
#the-color {
  position: relative;
}

#the-color .container {
  height: 100%;
  position: relative;
  gap: 20px;
  padding: 70px 20px 20px 20px;
  justify-content: center;
  align-items: center;
}

#the-color .content {
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#the-color .content .img-container {
  background-color: black;
  width: 400px;
  height: 230px;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 20px;
  scrollbar-width: none;
}

#the-color .content .img-container::-webkit-scrollbar {
  display: none;
}

#the-color .content .img-container img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

#the-color .content .img-container .text-wrapper {
  position: absolute;
  height: 100%;
  padding: 10px 10px 0 10px;
  z-index: 5;
  color: white;
  bottom: -145px;
  left: 0;
  transition: all 0.3s ease;
}

#the-color .content .img-container:hover img {
  scale: 1.1;
  rotate: 2deg;
}

#the-color .content .img-container:hover .text-wrapper {
  bottom: -40%;
  background-color: rgba(0, 0, 0, 0.29);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#the-color .colors-row {
  gap: 5px;
}

#the-color .color-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--clr);
}

/* end color */

/* showcase 2 */
#showcase2 {
  position: relative;
  height: auto;
}
#showcase2 .container {
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 0;
}

#showcase2 .img-wrapper {
  position: relative;
  overflow: hidden;
  width: 95%;
  height: 500px;
  border-radius: 50px;
}
#showcase2 .container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
}

#showcase2 h2 {
  position: absolute;
  color: white;
  top: 20px;
  left: 20px;
  z-index: 5;
}
#showcase2 h3 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  color: white;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.207);
  padding: 5px 10px;
  text-align: center;
  width: 300px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* end showcase 2 */

/* brochure */
#brochure {
  position: fixed;
  bottom: 20px;
  z-index: 999;
  transition: all 0.3s ease;
  left: -50%;
}

#brochure .button-b a {
  filter: drop-shadow(2px 2px 10px gray);
}

#brochure.showed {
  display: block;
  left: 20px;
}
/* end brochure */

/* footer */
#footer {
  position: relative;
  background-color: black;
  color: white;
  width: 100%;
}
#footer .container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 0;
}

#footer .content-social {
  gap: 5px;

  align-self: end;
}

#footer .content-social a {
  color: white;
  font-size: 25px;
  text-decoration: none;
  background-color: #d9d9d944;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

#footer .content-social a:hover {
  scale: 1.1;
}

#footer .content {
  justify-content: space-between;
  padding: 0 50px;
}

#footer .link {
  gap: 10px;
}

#footer p {
  color: #d9d9d98e;
}

#footer .link-wrapper .link a:hover {
  color: white;
}

#footer .content .link-wrapper {
  text-decoration: none;
  color: white;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
#footer .content .link-wrapper a,
#footer .content .link-wrapper p {
  text-decoration: none;
  color: #d9d9d98e;
}
#footer .social {
  width: 300px;
}

#footer .copy {
  padding: 50px 0 20px 0;
  text-align: center;
  color: white;
}

#footer .content {
  flex-wrap: wrap-reverse;
}

/* end footer */

/* ======================================================= */

@media (max-width: 480px) {
  #the-color .content .img-container {
    width: 300px;
  }
  #header-hero h1 {
    font-size: 1.7em;
  }

  #showcase {
    display: none;
  }

  #showcase-mobile {
    position: relative;
    display: block;
  }

  #showcase-mobile .container {
    height: 100%;
    position: relative;
    gap: 20px;
    padding: 70px 20px 20px 20px;
  }

  #showcase-mobile .title-wrapper {
    width: 100%;
  }

  #showcase-mobile .title-wrapper .text {
    width: 70%;
    gap: 20px;
  }
  #showcase-mobile .button-wrapper {
    gap: 25px;
    flex-wrap: wrap;
  }

  #showcase-mobile .content {
    width: 100%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 230px;
    margin-top: 5rem;
    overflow: hidden;
  }
  #showcase-mobile .content:hover .img-container {
    /* animation-play-state: paused; */
    overflow: auto;
  }
  #showcase-mobile .content:hover {
    overflow: auto;
  }

  @keyframes scrollLeft {
    to {
      left: -1050px;
    }
  }

  #showcase-mobile .content .img-container {
    width: 400px;
    overflow: hidden;
    height: 230px;
    border-radius: 20px;
    position: absolute;
    left: max(calc(200px * 5), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    flex-shrink: 0;
  }

  .item1 {
    animation-delay: calc(30s / 5 * (5 - 1) * -1);
  }

  .item2 {
    animation-delay: calc(30s / 5 * (5 - 2) * -1);
  }

  .item3 {
    animation-delay: calc(30s / 5 * (5 - 3) * -1);
  }

  .item4 {
    animation-delay: calc(30s / 5 * (5 - 4) * -1);
  }

  .item5 {
    animation-delay: calc(30s / 5 * (5 - 5) * -1);
  }

  #showcase-mobile .content .img-container img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #showcase-mobile .content .img-container .text-wrapper {
    position: absolute;
    z-index: 5;
    color: white;
    bottom: 10px;
    left: 10px;
  }
  #showcase-mobile .people-wrapper {
    position: relative;
    height: 40px;
  }
  #showcase-mobile .content .img-wrapper {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
  }
  #showcase-mobile .content .img-wrapper:nth-child(2) {
    left: 20px;
  }
  #showcase-mobile .content .img-wrapper:nth-child(3) {
    left: 40px;
  }

  #showcase-mobile .title-wrapper {
    flex-wrap: wrap;
  }
  #showcase-mobile .title-wrapper .text {
    width: 100%;
    gap: 20px;
  }
  #showcase-mobile .button-wrapper {
    justify-content: start;
    gap: 10px;
  }

  #hero .title-hero-wrapper {
    justify-content: center;
    height: 70%;
  }
}

@media (max-width: 768px) {
  .navbar {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 99;
    padding: 0 5px;
  }

  /* Style for nav-list on mobile */
  .navbar .nav-list {
    background-color: black;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    z-index: 10;
    transition: all 0.4s ease;
    top: -520%;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 80px 0 10px 0;
    box-shadow: 0 5px 10px #1a1a1d23;
  }

  /* Bar icon (hamburger menu) */
  .navbar .bar {
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 99;
  }

  .navbar .bar i {
    color: white;
    cursor: pointer;
  }

  /* Show nav-list when bar is active */
  .navbar .nav-list.active {
    top: 0%;
  }

  /* hero */

  #hero .title-hero-wrapper {
    justify-content: center;
    height: 70%;
    margin: 10px 5px;
  }

  #hero .content-wrapper .content:nth-child(1) {
    align-items: start;
    flex-direction: column;
    gap: 20px;
  }

  #hero .content-wrapper .content:nth-child(2) {
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }

  #hero .content-wrapper {
    margin: 0px 5px;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
  }

  #hero .text {
    width: auto;
  }
  #hero .text .row {
    justify-content: center;
    align-items: center;
  }

  #hero .title h1 {
    padding-top: 15px;
    line-height: 1;
  }

  /* product */
  #product-show h2 {
    margin: 0 10px;
    text-align: center;
  }

  #showcase .content {
    flex-wrap: wrap;
  }

  #showcase .title-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #showcase .title-wrapper .text {
    width: 100%;
    gap: 20px;
  }

  #showcase .content .img-container {
    width: 820px;
  }

  /* footer */
  #footer .content-social {
    gap: 5px;

    align-self: flex-start;
    padding: 20px 0;
  }
}
