#contact .container {
    flex-wrap: wrap-reverse;
    padding: 20px 0;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
}



#contact .map-wrapper {
    width: 450px;
    height: 450px;
    background-color: rgb(133, 133, 133);
    position: relative;
    overflow: hidden;
}



.map-wrapper iframe {
    width: 100%;
    height: 100%;
}

#contact .form {
    width: 450px;
}
#contact .form p {
    color: black;
}

.form label {
    font-weight: 600;
}

.form .form-control {
    background-color: transparent;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 10px;
}

.form .form-button {
   background-color: black;
   border: none;
   color: white;
   padding: 5px 20px;
   margin-top: 10px;
   border-radius: 10px;
   transition: all 0.3s ease;
}


.form .form-button:hover{
    cursor: pointer;
    scale: 1.1;
}


@media (max-width: 480px) {
    #contact .map-wrapper {
        width: 250px;
        height: 250px;

    }

    
}

@media (max-width: 768px){
    .container {
        justify-content: center;
        align-items: center;
    }
    #contact .form {
        width: 90%;
    }
}
