#company-profile {
  color: black;
}

#company-profile .container {
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

#company-profile .container .title {
  margin: 0 100px;
}

#company-profile p,
#team p {
  color: black;
}

#company-profile .goal-wrapper {
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}



#company-profile .goal, #company-profile .achiv {
  max-width: 300px;

}
#company-profile .goal h3 {
  font-weight: 600;
}

#team {
  position: relative;
}

#team h2 {
  text-align: center;
}

#team .container {
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}

#team .main-img-wrapper {
  overflow: hidden;
  width: 90%;
  height: 450px;
  position: relative;
  border-radius: 50px;
}

#team img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#team .img-wrapper {
  overflow: hidden;
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 20px;
  flex-shrink: 0;
}

#team .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#team .img-wrapper .name {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.603);
  border-radius: 20px;
  padding: 10px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
#team .text {
  width: 400px;
}

#team .abt-people {
  margin: 0 20px;
}

#team .people {
  gap: 20px;
}

#team .info-wrapper {
  justify-content: space-between;
  width: 90%;
}

#team .img-wrapper .name p {
  color: rgb(175, 174, 174);
}

#company-profile .achiv h3 {
 font-weight: 600;

}
#company-profile .achiv li{
 text-align: start;

}

@media (max-width: 480px) {
  #company-profile .achiv {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  #team .people {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #team .info-wrapper {
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #team .text {
    width: auto;
    padding: 20px;
  }
  #company-profile .container .title {
    margin: 0 20px;
  }
  #team .img-wrapper {

    width: 90vw;
    height: 400px;
   
  }

}
