#header-hero {
  height: 200px;
  background-image: url("../assets/img/workshop/1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: auto;
}

#content .container {
  padding: 10px 10px;
  flex-direction: row;
  width: auto;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#content .img-wrapper {
  overflow: hidden;
  width: auto;
  height: 400px;
  position: relative;
  
}
#content .img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

#content .img-wrapper:hover img{
    scale: 1.1;
}

#content .img-wrapper:hover .text-wrapper {
  bottom: 0;
}

#content .text-wrapper {
  position: absolute;
  bottom: -100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.379);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 10px;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  #content .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #content .img-wrapper {
    overflow: hidden;
    width: 100vw;
    height: auto;
  }

  #content .img-wrapper:hover img{
    scale: none;
}

#content .img-wrapper:hover .text-wrapper {
  bottom: -100%;
}
}
