@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap");

/* 

TODO:
FIXME:

*/

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

/* ************************************************** */
.container {
  padding-top: 60px;
}
/* =================================================== */

/* typografi */
.libre {
  font-family: "Libre Bodoni", serif; /* Font khusus untuk heading */
}

h1 {
  font-size: 90px;
  font-weight: bold;
}

h2 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Libre Bodoni", serif;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 15px;
}

/* ================= */

.button a {
  background-color: #d39d55;
  color: white;
  text-decoration: none;
  padding: 7px 14px;
  font-size: 0.8em;
}

.button a:hover {
  background-color: #b68648;
}

.button2 a {
  background-color: white;
  color: #d39d55;
  border: 1px solid #d39d55;
  text-decoration: none;
  padding: 7px 14px;
  font-size: 0.8em;
}

.button2 a:hover {
  border: 1px solid #b68648;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* navbar */
#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.5s ease;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: transparent;
  position: relative;
  padding: 5px;
}

.navbar .logo {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  z-index: 99;
}

.navbar .logo img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.navbar .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 100;
}

.nav-list .active {
  font-weight: bold;
  color: #d39d55;
}

.nav-list a {
  color: #1a1a1d;
  text-decoration: none;
  width: max-content;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
}

.navbar .bar {
  display: none;
}

.nav-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; /* Border thickness */
  background: #d39d55; /* Border color */
  transition: all 0.3s ease;
}

.nav-list a:hover::after {
  width: 100%;
}

#navbar.scrolled {
  background: white; /* Ubah sesuai keinginan */
  box-shadow: 0 5px 10px #1a1a1d23;
}

/* end navbar */

/* Hero */

#hero {
  position: relative;
  height: auto;
  padding-bottom: 50px;
  display: flex;
  overflow: hidden;
}

#hero .bg {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#hero .title2 {
  opacity: 0.5;
  position: absolute;
  rotate: -90deg;
  right: -230px;
  top: 50%;
  transform: translateY(-50%);
}

#hero .title2 h1 {
  font-size: 60px;
}

#hero .bg img {
  width: 500px;
}

#hero .text {
  width: 100%;
}

#hero p {
  text-align: center;
  padding: 0 30vw;
  justify-self: center;
  align-self: center;
}

#hero .hero-wrapper {
  justify-content: space-between;
  height: 100%;
  width: 100vw;
}

#hero .hero-tittle {
  justify-content: center;

  width: 50%;
}

#hero .hero-content {
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 5;
  padding-bottom: 50px;
}

#hero .img-main img {
  width: 500px;
  height: auto;
  filter: drop-shadow(0px 0px 10px black);
}

/* end Hero */

/* about */

#about {
  position: relative;
}

#about .about-img {
  width: 50vw;
  height: 100%;
  position: relative;
  z-index: 5;
  overflow: hidden;
  flex-shrink: 0;
}

#about h2 {
  position: relative;
}

.about-wrapper {
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
}

#about .about-img img {
  width: 100%;
  object-fit: cover;
}

.fade-img {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.fade-img.active {
  left: 0;
  opacity: 1;
}

.about-content {
  gap: 5px;
  position: relative;
  height: auto;
  justify-content: center;
  align-items: start;
  padding: 0 50px 0 20px;
}

#about .social-proof-wrapper {
  gap: 20px;
  padding: 10px;
}

#about .social-proof{
  align-items: center;
  justify-content: center;
}

#about .social-proof h4 {
  font-weight: 600;
}

#about .social-proof h4,
.social-proof p {
  width: auto;
}

.about-content .button-wrapper {
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
}
/* end about */

/* gallery */
#galerry {
  position: relative;
  overflow: hidden;
}

#gallery .container {
  text-align: center;
  justify-content: start;
  align-items: center;
  padding-bottom: 50px;
}

#gallery .title-wrapper p {
  margin: 0 20%;
}

#gallery .card-img {
  overflow: hidden;
  width: 250px;
  height: 250px;
  box-shadow: 0px 5px 5px gray;
}
#gallery .card-img img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease;
}
#gallery .card-img img:hover {
  scale: 1.1;
}

#gallery .content-wrapper {
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-top: 50px;
}
/* end Gallery */

/* features */

#features {
  position: relative;
}

#features .container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
}

#features .features-text {
  margin: 0 100px;
}

#features .features-content {
  max-width: 350px;
  position: relative;
  z-index: 5;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.377);
  padding: 10px;
}

#features .features-wrapper {
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 70px 20px 0 20px;
}

#features .features-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#features .features-img {
  overflow: hidden;
  position: relative;
  width: 100px;
  height: 100px;
}

/* end features */

/* testimonial */
#testimonial {
  position: relative;
  background-color: #f0f1f5;
}

#testimonial .text-wrapper {
  width: 350px;
  margin-left: 20px;
}
#testimonial .text-wrapper span {
  font-size: 70px;
  color: #1a1a1d;
}

#testimonial .container {
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#testimonial .testimonial-container {
  gap: 10px;
}

#testimonial .img-wrapper {
  position: absolute;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 7px solid #f0f1f5;

  top: -20%;
}

#testimonial .img-wrapper img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#testimonial .card {
  margin-top: 70px;
  background-color: white;
  padding: 60px 10px 30px 10px;
  width: 250px;
  box-shadow: 0 2px 5px #1a1a1d42;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 10px;
  position: relative;
}
#testimonial .card h4 {
  font-weight: 600;
}
#testimonial .card .info p {
  font-size: 12px;
  color: gray;
}

#testimonial .card .message {
  gap: 10px;
}
#testimonial .card .message p {
  font-size: 14px;
  color: #1a1a1d;
}
#testimonial .card .rating {
  justify-content: center;
  color: #d39d55;
}

#testimonial .card.active {
  box-shadow: 0 2px 5px #d39c557a;
}

/* end testimonial */

/* service */
#service {
  background-color: #f0f1f5;
  position: relative;
}

#service h2 {
  color: white;
}
#service h5 {
  color: white;
  font-size: 15px;
}

#service .list-wrapper {
  gap: 5px;
  padding-top: 50px;
}

#service .list-img {
  background-color: white;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#service .list-service {
  gap: 10px;
  padding: 5px;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}

#service .list-service::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; /* Border thickness */
  background: #d39d55; /* Border color */
  transition: all 0.5s ease;
}

#service .list-service:hover::after {
  width: 100%;
}

#service .list-service:hover {
  cursor: pointer;
  scale: 1.1;
  transform: translateX(5%);
}

#service .list-service.active {
  background-color: #d39d55;
  font-weight: bold;
}

#service .service-container {
  background-image: url("../assets/pagimotley/abstract-bg.webp");
  width: 50%;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  padding-top: 15px;
}

#service .img-wrapper {
  width: 20%;
  height: 90vh;
  overflow: hidden;
  position: relative;
}

#service .img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#service .container-content {
  background-image: url("../assets/pagimotley/abstract-bg.webp");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 30%;
  padding: 20px;
  justify-content: start;
}

/* end service */

/* contact  */
#contact {
  position: relative;
}

#contact .img-wrapper {
  overflow: hidden;
  width: 50%;
  height: 100%;
  background-color: white;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}

#contact .img-wrapper img {
  width: 50%;
  object-fit: cover;
}

#contact .content-wrapper {
  justify-content: center;
  padding: 0 50px;
  gap: 10px;
}

#contact h4 {
  color: #d39d55;
  font-weight: 600;
}

#contact .content-form {
  gap: 10px;
}

#contact .icon-content {
  gap: 15px;
}

#contact form .row {
  gap: 10px;
}

#contact form .form-control {
  border: #d39d55 1px solid;
  padding: 5px 10px;
}
#contact form .form-button {
  background-color: #d39d55;
  color: white;
  border: none;
  padding: 0 15px;
}
#contact form .form-button:hover {
  background-color: #b68648;
  color: white;
  cursor: pointer;
}

#contact .content-social-link a {
  border: 1px solid #d39d55;
  text-decoration: none;
  color: #d39d55;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: all 0.3s ease;
}
#contact .content-social-link a:hover {
  color: white;
  background-color: #d39d55;
}

/* end contact */

/* fac */
/* Style untuk accordion */
.accordion {
  margin: 20px;
}

.accordion-item {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: background-color 0.3s;
}

.accordion-item:hover {
  background-color: #ddd;
}

.panel {
  padding: 0 15px;
  background-color: #f9f9f9;
  display: none;
  overflow: hidden;
  border-left: 2px solid #ddd;
}

/* Style untuk teks di dalam panel */
.panel p {
  padding: 10px 0;
}

/* end fac */

/* footer  */
#footer {
  background-color: #1a1a1d;
  color: white;
  position: relative;
  padding-top: 10px;
}

#footer .container p {
  font-size: 13px;
}

#footer .container {
  padding: 10px 0;
}

#footer .content1 {
  width: 50%;
  justify-content: start;
  align-items: start;
}

#footer .content2,
.content3 {
  width: 10%;
}
#footer .content4 {
  align-items: start;
  width: 20%;
}

#footer .content4 span {
  padding-right: 10px;
}

#footer .footer-wrapper {
  justify-content: center;
  align-items: start;
  gap: 20px;
}

#footer .icon-social {
  padding-top: 10px;
  gap: 10px;
}

#footer a {
  color: white;
}

#footer .icon-social a {
  border: 1px solid white;
  text-decoration: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: all 0.3s ease;
}
#footer .icon-social a:hover {
  color: #1a1a1d;
  background-color: white;
}

#footer .footer-copy {
  padding-top: 50px;
  text-align: center;
}
/* End Footer */

/* ======================================================= */

@media (max-width: 480px) {

 
}

@media (max-width: 768px) {
  .navbar {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    z-index: 99;
    padding: 0 5px;
  }

  /* Style for nav-list on mobile */
  .navbar .nav-list {
    background-color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    z-index: 10;
    transition: all 0.4s ease;
    top: -520%;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 50px 0 10px 0;
    box-shadow: 0 5px 10px #1a1a1d23;
  }

  /* Bar icon (hamburger menu) */
  .navbar .bar {
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 99;
  }

  .navbar .bar i {
    color: #333;
    cursor: pointer;
  }

  /* Show nav-list when bar is active */
  .navbar .nav-list.active {
    top: 0%;
  }

  /* hero */
  #hero .hero-content {
    flex-direction: column-reverse;
    padding: 50px 0 20px 0;
  }



  #hero .img-main img {
    width: 350px;

  }

  #hero .hero-tittle {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #hero .button {
    display: none;
  }

  #hero p {
    text-align: center;
    padding: 0 2vw;
    justify-self: center;
    align-self: center;
  }

  #hero .bg {
    bottom: 0;
  }

  /* about */

  #about {
    padding: 150px 0;
  }

  .about-wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #about .about-img {
    width: 100%;
    height: 500px;
  }

  .about-content {
    align-items: center;
    padding: 0 20px 20px 20px;
    text-align: center;
  }

  /* features */
  #features .container {
    padding-bottom: 30px;
  }

  #features .features-text {
    margin: 0 20px;
  }

  #features .features-wrapper {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  /* testimonial */

  #testimonial .container {
    flex-direction: column;
  }

  #testimonial .text-wrapper {
    margin-right: 0;
    margin-left: 0;
  }

  #testimonial .card {
    margin-top: 50px;
  }

  #testimonial .testimonial-container {
    padding: 55px 0;

    flex-direction: column;
  }

  /* service */
  #service .container {
    flex-direction: column;
  }

  #service .service-container {
    width: 100%;
  }

  #service .img-wrapper {
    display: none;
  }

  #service .container-content {
    width: auto;
    padding: 20px 20px;
  }

  /* contact */
  #contact .container-contact {
    flex-direction: column;
  }
  #contact .img-wrapper {
    width: 100%;
    padding: 20px 0;
  }

  #contact .content-wrapper {
    align-items: center;
    padding: 0;
    margin: 10px;
    
  }

  #contact form .form-button {
    padding: 10px 0;
  }

  #contact .content-form form .form-control{
    width: 100%;
    padding: 10px 0;
    
  }
  #contact .content-form form .row{
    flex-direction: column;
    
  }

  #contact .content-social-link {
    border-top: 1px solid black;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
  }

  #contact .icon-content {
    align-items: center;
    justify-content: center;
  }

  /* Gallery */
  #gallery .card-img {
    overflow: hidden;
    width: 40vw;
    height: 40vw;
  }


  #gallery .title-wrapper p {
    margin: 0 30px;
  }
  /* end galerry */

  /* footer */
  #footer .container .footer-wrapper {
    padding: 0 0;
    flex-wrap: wrap;
  }
  #footer .content1 {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #footer .content2,
  .content3 {
    width: 20%;
    justify-content: center;
    align-items: center;
  }

  #footer .content4 {
    align-items: start;
    margin: 10px 20px;
    width: 100%;
    order: -1;
  }
}
